<style>
    .container-contato {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        flex-wrap: wrap;
        border-radius: 10px;
        background-color: black;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }

    .container-contato h3 {
        text-transform: uppercase;
    }

    .item {

        padding: 10px;
        margin: 5px;
    }

    .container-contato hr {
        color: rgb(88, 88, 88);
    }
</style>

<div class="container-contato">
    <div class="item"><h3>Endereço postal</h3>
        Editora 34 Ltda. <br>
        Rua Hungria, 592 - Jardim Europa <br>
        São Paulo - SP - Brasil <br>
        CEP 01455-000
    </div>
    <hr>
    <div class="item"><h3>Vendas</h3>
        vendas@editora34.com.br <br>
        Assessoria de imprensa: imprensa@editora34.com.br <br>
        Atendimento ao professor: professor@editora34.com.br <br>
    </div>
    <hr>
    <div class="item"><h3>Contato</h3>
        Site/Pedidos: site@editora34.com.br<br>
        Tel (11) 3811-6777 <br>
        Fax (11) 3811-6779 <br>
        WhatsApp (11) 97319-4785</td>
    </div>
</div>